*{
    margin: 0;
    padding: 0;
}

#particles-js{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('images/banner.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.my-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.skill{
    /* align-items: center; */
}
.skill img{
    height: 75px;
    width: 75px;
    background-color: aqua;
    padding: 5px;
}