*{
    margin: 0;
    padding: 0;
}
.my-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.skill{
    /* background-color: antiquewhite; */
    /* padding: 5px; */
    /* margin: px;  */
}
.skill img{
    height: 120px;
    width: 120px;
    background-color: aqua;
    padding: 5px;
}